body {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

th {
    font-weight: bold;
    font-size: 1.1em;
}

.focus {
    border-color: rgba(191, 240, 110, 0.6);
    box-shadow: 0 1px 1px rgba(191, 240, 110, 0.05) inset, 0 0 8px rgba(191, 240, 110, 0.4);
    outline: 0 none;
}

.form_column {
    margin: 4px auto;
    width: 60%
}

.form_content {
    margin-top: 0;
}

.form_content td {
    border-top: 0 !important;
}

#form_tabs {
    font-size: 1.4em;
    margin-bottom: 0;
    /*margin-top: 30px !important;*/
}

.navbar {
    color: white;
}

ul.li a {
    color: #33004B !important;
}

.navbar-static-top {
    background: #33004B;
}

.btn-primary:focus,
.btn-primary {
    background: #855FA8;
}

h3.navbar-right {
    color: white !important;
    margin-right: 20px;
}

.instr li {
    list-style: decimal;
    margin: 0 0 0 -20px;
}

.instr li::first-letter {
    font-size: 1.1em;
}

.percent,
.buttons {
    margin-bottom: 6px;
}

.btn,
.buttons input[type=button] {
    width: 120px;
    border: 1px solid black;
}

.buttons input[type=button]:nth-of-type(1) {
    margin-right: 20px;
}

.buttons input[type=button]:nth-of-type(2) {
    margin-left: 20px;
}

form {
    margin-top: 40px;
}

.results {
    font-size: 1.4em;
    border: 1px solid black;
    border-left: 0;
    border-bottom: 0;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 15px
}

.results p > b {
    border: 1px solid #33004B;
    border-radius: 6px;
    padding: 0 12px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    display: none;
}
