body {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

th {
    font-weight: bold;
    font-size: 1.1em;
}

.focus {
    border-color: rgba(191, 240, 110, 0.6);
    box-shadow: 0 1px 1px rgba(191, 240, 110, 0.05) inset, 0 0 8px rgba(191, 240, 110, 0.4);
    outline: 0 none;
}

.form_column {
    margin: 4px auto;
    width: 60%
}

#new_look {
    border: 1px solid rgb(221, 221, 221);
    border-top: 0;
}

#form_tabs {
    font-size: 1.4em;
}

.navbar {
    color: white;
}

.navbar-static-top {
    background: #33004B;
}

h3.navbar-right {
    color: white !important;
    margin-right: 20px;
}

.instr li {
    list-style: decimal;
    margin: 0 0 0 -20px;
}

.instr li::first-letter {
    font-size: 1.1em;
}